
* {
  box-sizing: border-box;
  font-family: 'Geist';
}
@font-face {

  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype') ;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.otf') ;
}
@import "tailwindcss";
.page{
  @apply flex w-screen h-full flex-col items-center justify-center;
}