
* {
  box-sizing: border-box;
  font-family: 'Geist';
}
@font-face {

  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype') ;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.otf') ;
}
@import "tailwindcss";
.page {
  @apply  fixed flex w-screen h-screen flex-col text-white bg-neutral-800 px-9 py-2 overflow-hidden;
}